.overlay {
  z-index: 999999999;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

#readMoreContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: last baseline;
}

#readMore {
  margin-bottom: 50px;
}

.button {
  background-color: #33333388;
  bottom: 50vh;
  color: white;
  padding: .35em .5em;
  border-radius: .5em;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: "Atkinson Hyperlegible", sans-serif;
  cursor: pointer;
  pointer-events: all;
}
